.engagement_summary {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  border: solid 1px silver;
  margin: 1em 0 1em 0;
  padding: 1em;
  > div {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    > span {
      flex: 1;
    }
  }
}

[data-has-sale="true"] {
  background: rgba(72, 250, 72, 0.2);
}

.events-timeline {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  > span {
    display: block;
    outline: solid 0.1px rgba(200,200,200,0.2);
    padding: 0.2em;
    
    &.ip {
      min-width: 150px;
      max-width: 150px;
      text-overflow: ellipsis;
    }
    &.date {
      min-width: 160px;
      max-width: 160px;
      text-overflow: ellipsis;
    }
    &.msisdn {
      min-width: 140px;
      max-width: 140px;
      text-overflow: ellipsis;
    }

    &.has_msisdn_submission_failure {
      color: red;
    }

    &.has_msisdn_submission_success {
      color: darkgreen;
    }

    
    &.event {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
      outline: solid 0.1px rgba(200,200,200,0.1);
      color: white;
      
    }
    &:nth-child(4) {
      border-left: solid 1px silver;
    }

    &.Pre-Flow {
      background-color: green;
    }
    &.Flow {
      background-color: blue;
      &[class$="-success"] {
        outline: solid 3px rgb(72, 250, 72);
      }
    }

    &.recede {
      background-color: red;
    }
  }
}

.tooltip-container {
  max-width: 400px;
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}