// .create-campaign-modal {
//   .has-label .react-selectize.root-node {
//     width: 250px !important;
//   }
//   .has-label label {
//     width: 70px !important;
//   }
// }
.existing_campaigns
  max-height 150px
  border solid 1px #000
  overflow scroll
  padding 15px
  table
    th, td
      padding 15px;
      border: 1px solid #eee;

button:disabled,
button[disabled] 
  border 1px solid #999999
  background-color #cccccc
  color #666666