{
  "presets": ["es2017", "es2015", "react", "stage-0"],
  "plugins": [["transform-runtime", { "helpers": false, "polyfill": false }]],
  "env": {
    "development": { "plugins": ["styled-components"] },
    "test": { "plugins": ["transform-es2015-modules-commonjs"] }
  }
}
