.percent
  &:after
    content: ' %';
    font-size: 70%;
    color: silver;

.times
  &:after
    content: ' ×';
    font-size: 70%;
    color: silver;

.main-table
  td
    text-align: left
    border-bottom: solid 1px #ddd
    overflow: hidden
    padding: 0.3em 0 0.3em 0em

.main-table 
  th
    text-align: left
    font-weight: bold
    background-color: #f0f0f0 
    font-size: 0.9em 
    padding: 0.5em 0