.rt-tbody > .rt-tr-group > .rt-tr:nth-child(1) {
  font-weight: bold;
}

.ReactTable .rt-thead .rt-resizable-header-content {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  white-space: normal;
  flex: 1 0 auto;
  align-self: center;
}

.ReactTable .rt-thead .rt-th.-cursor-pointer,
.ReactTable .rt-thead {
  display: inline-grid;
}


.ReactTable .rt-td.rt-expandable.rt-pivot span {
  white-space: normal;
}

.ReactTable .rt-tbody .rt-td {
  text-align: center;
}

