.top-spacer 
	margin-top 100px
.top-spacer, .top-spacer * 
		font-size: 14px !important
.create-campaign-wrapper 
	margin-top 100px
.link 
	white-space nowrap
	max-width 150px
	overflow hidden
	text-overflow ellipsis
.btn-warning
	background-color: orange
.cjlqAH 
	display flex
	flex-direction row
	justify-content space-between
	button 
		flex 1
.modal-wrapper 
	position absolute
	left 0
	right 0
	top 0
	bottom 0
	background rgba(0, 0, 0, 0.7)
	z-index 999
	display flex
	flex-direction row
	justify-content center
	align-items center
.well 
	background #fff
	padding 20px
	border-radius 8px
.btns
	display: flex
	flex-direction: row
.dataTable
	min-width 900px
.loader-wrapper 
	position absolute
	left 0
	right 0
	top 0
	bottom 0
	background rgba(0, 0, 0, 0.7)
	z-index 999
	display flex
	flex-direction row
	justify-content center
	align-items center
	span 
		color #fff
