.top-spacer 
	margin-top 100px
.top-spacer, .top-spacer * 
		font-size: 11px !important
		.jumbo-btn
			position fixed
			bottom 0
			margin-top 50px
			height 70px
			width 100%
			font-size 20px !important
			font-weight bold
			margin auto
			left 0
			right 0
		.warning
			background-color red
		ul 
			list-style-type none
			margin 0
			margin-bottom 20px
			padding 0
			overflow hidden
			background-color #9ac355

		li 
			float left
			a 
				display block
				color #000
				font-weight bold
				text-align center
				padding 5px 16px
				text-decoration none
				&:hover 
					background-color #353843
					color #fff
				&.active
					background-color #353843
					color #fff
		.large-text
			padding 3px
			max-width 100px
			max-height: 200px
			border solid 1px #eee
			overflow scroll
		h1 
			font-size 22px !important
			color #000
			margin 10px
.create-campaign-wrapper 
	margin-top 100px
.link 
	white-space nowrap
	max-width 150px
	overflow hidden
	text-overflow ellipsis
.btn-warning
	background-color: orange
.cjlqAH 
	display flex
	flex-direction row
	justify-content space-between
	button 
		flex 1
.create-campaign-modal
	position relative !important
	margin-top -100px
	margin-bottom 100px
	background-color #fff !important
	.well
		border-radius unset !important
	h1 
		font-size 30px !important
		margin 0
	h2
		font-size 20px !important
	.card
		padding 15px
		box-shadow 0 4px 8px 0 rgba(0,0,0,0.2)
  	transition: 0.3s
		background-color #aaa
	.card:hover 
  	box-shadow 0 8px 16px 0 rgba(0,0,0,0.2)

.legals-actions-wrapper{
	display flex
	flex-direction column
}
.legal-form-wrapper
	width 100%
.legals-well 
	width: 100%
	min-height 100% 
	background #eee
	padding 20px
	border-radius 8px
	display flex
	justify-content center
	align-items center
label
	font-weight bold
.os-ui-col
	display flex
	flex-direction row
	justify-content space-between
.os-ui-form-group
	display flex
	flex-direction column
	flex:1
	margin 5px
	input, select, textarea 
		width 100%
		margin 8px 0
		display inline-block
		border 1px solid #ccc
		box-shadow inset 0 1px 3px #ddd
		border-radius 4px
		-webkit-box-sizing border-box
		-moz-box-sizing border-box
		box-sizing border-box
		padding-left 20px
		padding-right 20px
		padding-top 12px
		padding-bottom 12px
	input:disabled 
		background: #dddddd
	textarea
		height 70px
.btns
	display: flex
	flex-direction: row
.dataTable
	min-width 900px
.loader-wrapper 
	position fixed
	left 0
	right 0
	top 0
	bottom 0
	background rgba(0, 0, 0, 0.7)
	z-index 99999
	display flex
	flex-direction row
	justify-content center
	align-items center
	span 
		color #fff
.os-ui-close-btn
	width 40px
	height 40px
	border-radius 20px
.campaign-btns
	button 
		min-width 160px
.share-campaign-url-wrapper
	width 50%
	input
		width 100%
		text-align center
		background #eee
		:focus
			outline-color: #eee;

.modal-wrapper 
	position fixed
	left 0
	right 0
	top 0
	bottom 0
	background rgba(0, 0, 0, 0.7)
	z-index 999
	display flex
	flex-direction row
	justify-content center
	align-items center
	h4
		font-size 20px !important

	.well 
		background #fff
		padding 20px
		border-radius 8px

.temp-input
	position absolute
	left -1000px
	top -1000px

.strategy-cell
	width: 100%
	li
		&:before 
			content: '✓';
	.more-btn
		height: 20px;
		width 30px;
		display flex;
		justify-content center;
		align-items: center;
		vertical-align: middle;
		font-size: 18px !important;
		margin: 0 auto;
		text-align: center;
		color: #000;
		background-color: #eee;
		border: solid 1px #eee;
		margin-left: 5px;
		span 
			font-weight: bold;
			font-size: 12px
			line-height: 0;
			padding: 0;
			margin-top: -8px;

#json
	background-color #eee

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
  }
}


.bouncedModal {
  animation: bounceIn 0.5s;
}