label
  width:115px
  color:#868a98
  font-size:12px
  user-select: none
  display:inline-block
  
h1
  color:#a8adc1
  font-size:16px 
  
.rdt
  display:inline-block
  
input[type="text"],
input[type="date"],
input[type="number"],
input[type="checkbox"]
	width:194px
	border:none
	margin-top:5px
	padding:5px 10px
	border-radius:3px
	outline-color:#8cc63e

select
    width: 150px
    height: 23px
    border: none
    margin-top: 5px
    outline-color:#8cc63e
	
button
  float:right
  width:100px
  border:none
  color:#ffffff
  cursor:pointer
  padding:6px 10px
  border-radius:3px
  margin-right:5px
  margin-top:10px
  background-color:#6da424
  
  &:hover
  	background-color:#8cc63e	
