// @Justi: style Control (bottom left) here
label
  user-select: none

// .date_input
//   display: block
//   height: 42px
//   width: 300px
//   margin: 1ex 20px;
//   padding: 0 12px;
//   border-radius: 3px;
//   border: 1px solid lightgrey;
//   outline: none;
//   font-size: 1.5em

// .top
//   .date_input
//     height: 22px
//     width: 200px
//     font-size: 1em