.login
  margin: 100px 0 0 100px
  max-width: 300px
  input[type="text"], input[type="password"]
    width: 160px;
    max-width: 160px;
    border: none;
    min-width: 160px;
    font-size: 10pt;
    padding: 0.3em;

  .row
    margin-top: 1em

  .login-button
    float: none