.login
  margin: 100px 50px 0 50px
  max-width: 300px
  // input[type="text"], input[type="password"]
  //   width: 160px;
  //   max-width: 160px;
  //   border: none;
  //   min-width: 160px;
  //   font-size: 10pt;
  //   padding: 0.3em;
  //   border: solid 1px silver

  .row
    margin-top: 1em

//   .login-button
//     float: none

.google-button
  padding-top: 16px
  padding-bottom: 16px
  padding-left: 16px
  padding-right: 16px
  margin-bottom: 16px
  background-color: #FFF
  border-radius: 3px
  border: 1px solid #d6d9dc
  color: #535a60
  text-align: center
  cursor: pointer
  text-decoration: none
  
.google-button:hover
  background-color: #d6d9dc

.svg-icon
  vertical-align: bottom