#export-to-excel
		padding:0 12px
		cursor:pointer
		border:solid 5px #eee
		border-bottom:none
		padding:1em 0.5em
		background-color:#eee

#table
		padding-top:40px
		border-bottom:1.5pt solid grey
		table-layout: fixed
		width: 100%
		// width:90%

#table tr
		padding:8px
		border-bottom:1pt solid #f3f3f3

#table th
		text-align:left
		// white-space:nowrap
		padding:8px
		border-bottom:1pt solid #f3f3f3
		background-color:#f3f3f3

#table td
		// width:80%
		padding:8px
		border-bottom:1pt solid #f3f3f3

// #trans-tables div:nth-child(odd) {
//   background-color: red;
// }
// #trans-tables div:nth-child(even) {
//   background-color: green;
// }

#trans-tables .delivered
	background-color: #dcffd8
	border: 1pt dotted #000

#trans-tables .failed
	background-color: #f9d1d7
	border: 1pt dotted #000000

#trans-tables .pending
	background-color: #fce4bf
	border: 1pt dotted #000000


